<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>主页 - 嘉信办公用品</title>

    <link rel="stylesheet" href="#" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="#" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" href="#" th:href="@{/lib/Ionicons/css/ionicons.min.css}"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="#" th:href="@{/lib/admin-lte/dist/css/AdminLTE.min.css}"/>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="#" th:href="@{/lib/admin-lte/dist/css/skins/skin-blue.min.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="#" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic}"/>

</head>


<body>


<script th:src="@{/lib/jquery/dist/jquery.slim.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/boostrap.min.js}"></script>

<!-- AdminLTE App -->
<script th:src="@{/lib/admin-lte/dist/js/adminlte.min.js}"></script>
</body>
</html>