<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>刷卡支付 - 嘉信办公用品</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"
          href="/lib/bootstrap/dist/css/bootstrap.min.css"
    />
</head>

<body>
<div class="container">
    <h2>创建刷卡支付订单</h2>
    <form action="#" th:action="@{/micropay/create}" method="post" th:object="${microPayForm}">
        <fieldset>
            <div class="form-group">
                <label for="body">商品</label>
                <select th:field="*{body}" id="body" name="body" class="form-control" aria-describedby="bodyHelp">
                    <option value="嘉信办公用品-测试">嘉信办公用品-测试</option>
                </select>
                <small th:if="${#fields.hasErrors('body')}" th:errors="*{body}" id="bodyHelp"
                       class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="outTradeNo">订单号</label>
                <input th:field="*{outTradeNo}" type="text" name="outTradeNo" id="outTradeNo" class="form-control"
                       aria-describedby="outTradeNoHelp"/>
                <small th:if="${#fields.hasErrors('outTradeNo')}" th:errors="*{outTradeNo}" id="outTradeNoHelp"
                       class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="attach">附加描述</label>
                <input th:field="*{attach}" type="text" name="attach" id="attach" class="form-control"
                       aria-describedby="attachHelp"/>
                <small th:if="${#fields.hasErrors('attach')}" th:errors="*{attach}" id="attachHelp"
                       class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="totalFee">金额</label>
                <input th:field="*{totalFee}" type="number" name="totalFee" id="totalFee" class="form-control"
                       aria-describedby="totalFeeHelp"/>
                <small th:if="${#fields.hasErrors('totalFee')}" th:errors="*{totalFee}" id="totalFeeHelp"
                       class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="authCode">授权码</label>
                <input th:field="*{authCode}" type="text" name="authCode" id="authCode" class="form-control"
                       aria-describedby="authCodeHelp"/>
                <small th:if="${#fields.hasErrors('authCode')}" th:errors="*{authCode}" id="authCodeHelp"
                       class="form-text text-danger"></small>
            </div>

            <button class="btn btn-primary" type="submit">提交</button>
        </fieldset>
    </form>
    <span th:text="${hello}"></span>
    <script th:src="@{/lib/jquery/dist/jquery.min.js}" src="/lib/jquery/dist/jquery.min.js"
            type="text/javascript"></script>
    <script th:src="@{/lib/popper.js/dist/umd/popper.min.js}" src="/lib/popper.js/dist/umd/popper.min.js"
            type="text/javascript"></script>
    <script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}" src="/lib/bootstrap/dist/js/bootstrap.min.js"
            type="text/javascript"></script>
</div>
</body>

</html>