<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <h2>详情页</h2>
    <div th:object="${mpt}">
        <p th:text="*{body}">此处应有微信订单号</p>
        <p th:text="*{outTradeNo}">此处应有内部订单号</p>
        <p th:text="*{attach}">此处blah</p>
        <!--<p th:text="*{resultDetail.tradeState}">此处应有状态</p>-->
    </div>

    <form action="#" th:action="@{/micropay/reverse/} + ${mpt.outTradeNo}" method="post">
        <button type="submit">撤销</button>
    </form>

    <a href="/micropay/create.html" th:href="@{/micropay/create}">返回表单</a>

</body>

</html>